<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%- title %></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/themes/default/style.min.css" />
    <link href="/css/modern-business.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/multi-select.css" type="text/css"/>

    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.multi-select.js"></script>
    <script>
    var config = {
        url: <%- "'"+config.url+"'" %>,
        monthsList:['<%- config.monthsList.join("','") %>'],
        years : {
            'from' : <%- config.years.from %>,
            'upto'   : <%- config.years.upto %>
        }
    }
    </script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="with-side-menu">

	<!-- template/header.html -->
    <% include admin/partials/header %>

	<!-- template/dashboard.html -->
    <% include admin/partials/flash %>
    <%- content %>

    <!-- template/footer.html -->
    <% include admin/partials/footer %>

</body>
</html>
